.Container {
  position: absolute;
  display: flex;
  right: 16px;
  top: 8px;
  gap: 4px;
}
.AddButton, .ExportButton {
  border: 1px solid #1117;
  width: 55px;
  height: 55px;
  color: #1117;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  padding-bottom: 5px;
  padding-left: 15px;
  transition: 250ms;
  overflow: hidden;
  gap: 36px;
  z-index: 5;
  background-color: #fff;


  &:after {
    white-space: nowrap;
    font-size: 24px;
    padding: 4px;
    margin-top: 3px;
  }
  &:hover {
    cursor: pointer;
    gap: 4px;
    border: 1px solid #111f;
    box-shadow: 0 4px 30px -10px #aaa;
    color: #444f;
    transition: 250ms;
    width: 170px;
    font-size: 30px;
  }
}
.AddButton {
  font-size: 40px;

  &:after {
    content: 'New Chart';
  }
}

.ExportButton {
  font-size: 26px;
  filter: grayscale(100%);
  &:hover {
    width: 180px;
  }

  &:after {
    content: 'Export PDF';
  }
}